body{
		color:#000000;
		background-color:#cccccc;
		font-family:verdana, geneva, arial, sans-serif;
		text-align:justify;
		font-size:100%
}

#container{
			margin: 0 auto;
			padding:0px;
			border:0;
			width:960px;
			font-size:12px;
			background-color:#cccccc;
}

#header{	position:relative;
			width:960px;
			height:140px;
			font-weight:bold;
			background-color:#ffcc00;
}	

#header h1{	position:absolute;
			margin:50px;
}




				
			
#artigos{
		position:absolute;
		padding:10px;
		width:800px;
		height:500px;
		margin-left:0px;
		
}
img{
		float:left;
		margin:10px;
}


article {		
				padding:10px;
				background-color:#ffffff;
				width:255px;
				height:255px;
				font-size:12px;
				float:left;
				margin:4px;
				margin-top:4px;
}



aside{	
		position:absolute;
		float:right;
		background-color:#ffffff;
		width:350px;
		height:538px;
		padding:10px;
		margin-left:590px;
		margin-top:15px;
		
				
}


input,type=text]{
					border: 1px solid #ccc;
					padding:10px;
					margin-bottom:2px;
					margin-top:2px;
					font-size:14px;
}
select{
		border:1px solid #ccc;
		padding:10px;
		margin-bottom:2px;
		margin-top:2px;
		font-size:14px;
}

label{
		color:#555555;
		font-size:14px;
		margin-bottom:2px;
		width:60px;
		display:inline-block;
		font-style:bold;
}
legend{font-size:16px;}

fildset{
		
		border:0;
		margin:10px;
		padding-bottom:20px;
		
}
button{
		padding:10px;
		border:0;
		font-size:16px;
		margin:0;
		margin-top:0px;
		color:#000000;
		background-color:#cccccc;
		width:80px;
		height:50px;
		text-align:center;
}

fildset{
		border:3px solid #000000;
		padding:60px;
		width:20px;
}

footer{
		width:960px;
		height:40px;
		line-height:40px;
		font-size:36px;
		background-color:#708090;
		color:#ffffff;
		text-align:center;
		margin-top:600px;
		clear:both;
	